
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
html, body, #__next { height: 100%; background: #0b0f14; }

.recharts-default-tooltip {
  background: #101317 !important;
  border: 1px solid #074e66 !important;
  border-radius: 12px !important;
  color: white;
}
